.chart-detail {
   margin-top: 20px;
   button {
       display: inline-block;
       border: 1px solid var(--border-btn);
       padding: 10px 14px;
       margin-top: 20px;
       margin-right: 10px;
       color: var(--color);
       background-color: var(--primary);
       border-radius: 8px;
   }
    .active {
       background-color: var(--btn-active);
       border: 1px solid var(--border-btn);
   }
}