@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--color);
}
:root {
  --primary: #FAFBFD;
  --bg-color: #FAFBFD;
  --color:#000;
  --item:#FFFFFF;
  --border:rgb(233, 233, 233);
  --title:#000000;
  --border-btn:#ddd;
  --btn-active:#eff2f5;
  --p:rgba(0, 0, 0, 0.54);
  --selected:#212121;
}
[data-theme='dark'] {
    --primary: #242526;
    --bg-color: #18191a;
    --color:#e4e6eb;
    --title:#E4E6EB;
    --item:#242526;
    --border:#171718;
    --border-btn:#070707;
    --btn-active:#3A3B3C;
    --p:#E4E6EB;
    --selected:#E4E6EB;
  }
button {
  cursor: pointer;
} 
.moon{
  width: 27px;
  border: 0;
  margin-right: 20px;
  transform: rotate(320deg);
}
.header {
  display: flex;
  max-width:1350px ;
  justify-content: space-between;
  margin-top: 30px;
  margin: 30px auto;
  margin-bottom: -10px;
  padding: 0 20px;
}